NEXT_PUBLIC_apiKey=AIzaSyDoDgoRbEijzSUzwFD79d5nJAa4SZhpnlk
NEXT_PUBLIC_authDomain=cyro-3f815.firebaseapp.com
NEXT_PUBLIC_projectId=cyro-3f815
NEXT_PUBLIC_storageBucket=cyro-3f815.firebasestorage.app
NEXT_PUBLIC_messagingSenderId=821886845362
NEXT_PUBLIC_appId=1:821886845362:web:dfd820ace4db5e3418a4a
MONGODB_URI=mongodb+srv://EndTask:S9j1bYModiHmKuAY@tanvir369.ymezqkm.mongodb.net/?appName=Tanvir369

# Cloudinary Credentials
CLOUDINARY_URL=cloudinary://647596651652133:L1qytTpqvPzFWcu9EtzyHfAYlHI@dfwigpcer